/*keyframes*/
@keyframes spiderCrawl {
    0% {
        transform: translate(600px, 50px);
    }
    50%{
        transform: translate(400px, 25px);
    }
    100% {
        transform: translate(200px, 0);
}
}

@keyframes heartPulse {
    0% {
        transform: scale(1);
        filter:brightness(0.8);
    }
    50% {
        transform: scale(1.05);
        filter:brightness(1);
    }
    100% {
        transform: scale(1);
        filter:brightness(0.8);
    }
}

@keyframes memberPulse {
    0% {
        box-shadow:0px 0px 30px rgba(255, 0, 0, 0.5);
        transform: scale(1);
    }
    25% {
        box-shadow:0px 0px 50px rgba(255, 0, 0, 0.9);
        transform: scale(1.05);
    }
    50%{
        box-shadow:0px 0px 30px rgba(255, 0 ,0, 0.5);
        transform: scale(1);
    }
    75%{
        box-shadow:0px 0px 50px rgba(255, 0, 0, 0.9);
        transform: scale(1.05);
    }
    100%{
        box-shadow:0px 0px 30px rgba(255, 0, 0, 0.5);
        transform: scale(1);
    }
}