.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:repeat(3, 1fr);
    grid-column-gap: 2%;
}

.welcomeText {
    grid-row-start: 1; 
    grid-column-start: 2; 
    grid-row-end: 2; 
    grid-column-end: 2;
}

h3 {
    grid-area:2/2/2/2;
}
#member {
    grid-area:3/2/3/2;
}
.memberText {
    grid-area:4/2/5/2;
}

#chat {
    grid-area:5/2/5/2;
}

.footer1 {
    grid-area:6/1/7/4;
}